body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* 글 작성 영역 */
div {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* 제목 */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px;
    width: 100px;
    vertical-align: top;
    color: #555;
}

td {
    padding: 10px;
}
#img-btn{
	background-color: #ede9dc;
	color: gray;
}
#img-btn:hover{
	background-color: #e1dabf;
}
/* 입력창 스타일 */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* textarea 높이 조절 */
textarea {
    height: 250px;
    resize: vertical;
}

/* 버튼 스타일 */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #e6f2fd; 
    color: #60646c;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 5px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #c4e2fb;
}
#homeBtn {
    background-color: #e0e0e0; 
    color: #555;     
}
#homeBtn:hover {
    background-color: #ccc; /* hover시 진한 회색 */
}


/* 파일 선택 버튼 */
#uploadFile + button {
    background-color: #2196F3;
}

#uploadFile + button:hover {
    background-color: #1976D2;
}

/* 버튼 영역 */
#btn {
    text-align: center;
    margin-top: 20px;
}
